<header class="top-navbar">
  <div class="navbar-left"></div>

  <div class="navbar-right">
    <button class="icon-btn" type="button" aria-label="Ver notificaciones">
      <lucide-icon [img]="BellIcon"></lucide-icon>
      <span class="notification-badge"></span>
    </button>

    <div class="divider"></div>

    <div class="user-profile">
      <div class="user-info">
        <span class="user-name">{{ authService.user()?.nombre }}</span>
        <span class="user-role">{{ authService.user()?.nombreRol }}</span>
      </div>
      <img
        [src]="
          authService.user()?.avatar ||
          'https://ui-avatars.com/api/?name=' + authService.user()?.nombre
        "
        alt="Avatar"
        class="avatar"
      />
    </div>
  </div>
</header>
